header {
    background-color: blue;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    font-weight: bold;
}

#container {
    margin: 20px;

}

.conteudo {
    line-height: 1.5;
}